#service .container{
  width: 1140px;
  padding: 0px 15px;
  margin: auto;
}
#service .description{
  color: white;
  line-height: 30px;
  font-size: .9rem;
}
.services_top-content{
  text-align: center;
  margin: 50px;
}
.service_icon{
color: white;
width: 60px;
height: 60px;
display: flex;
align-items: center;
justify-content: center;
margin: auto;
}
.service_item-wrapper{
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 2rem;
}
.service_icon i{
  font-size: 3rem;
}
.services-item{
  background: rgb(5,29,51);
  width: 25%;
  padding: 30px 15px;
  text-align: center;
  border-radius: 0.5rem;
  cursor: pointer;
}
.service_title{
  color: rgb(1,133,151);
  font-size: 1.3rem;
  margin-bottom: 30px;
}
.services_top-content h2{
  font-size: 3rem;
  font-weight: bold;
}
.services_top-content .highlight{
  color: rgb(23, 62, 145);
  font-size: 2rem;
  font-weight:  bold;
}
.services_top-content .subtitle{
  font-size: 1rem;
  color: rgb(11, 59, 162);
  font-weight: 500;
}